body {
  background: linear-gradient(to bottom, #daad86 26%, #659dbd 100%) fixed;
 
}


#bear-form-submit {
    background-color: #8D8751;
    border: solid 2px #FBEEC1;
}



/*
COLOR SCHEMES
#8D8751 olive green
#659DBD blue
#DAAD86 light tan
#BC986A tan
#FBEEC1 yellowish white
*/